<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>ADM</title>
  </head>

  <body>
    <%- include('../../partials/header.ejs') %>
      <main>
        <section class="produtos">
          <div class="container">
            <h1>Editar o Produto</h1>
            <form method="POST" action="/adm/usuario/editar/<%=user.id%>?_method=PUT">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" name="nome" class="form-control" required value="<%=user.nome%>">
              </div>
              <div class="mb-3">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" required value="<%=user.sobrenome%>">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" required value="<%=user.email%>">
              </div>
              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" name="senha" class="form-control" required value="<%=user.senha%>">
              </div>
              <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" id="cpf" class="form-control" name="cpf" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
                  title="Digite um CPF no formato: xxx.xxx.xxx-xx" value="<%=user.cpf%>" />
              </div>

              <div class="mb-3">
                <label for="rua">Rua</label>
                <input type="text" id="rua" name="rua" class="form-control" placeholder="Rua, Avenida"
                  value="<%=user.rua%>">
              </div>

              <div class="mb-3">
                <label for="complemento">Complemento</label>
                <input type="text" id="complemento" name="complemento" class="form-control"
                  placeholder="Apartamento, hotel, casa, etc." value="<%=user.complemento%>">
              </div>

              <div class="mb-3">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" class="form-control" value="<%=user.cidade%>">
              </div>

              <div class="mb-3">
                <label for="estado">Estado</label>
                <input id="estado" name="estado" class="form-control" value="<%=user.estado%>">
              </div>

              <div class="mb-3">
                <label for="cep">CEP</label>
                <input type="text" id="cep" name="cep" class="form-control" value="<%=user.cep%>">
              </div>

              <div class="mb-3">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" class="form-control" value="<%=user.telefone%>">
              </div>

              <div class="mb-3">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" value="<%=user.bairro%>">
              </div>

              <div class="mb-3">
                <label for="numero">Numero</label>
                <input type="text" id="numero" name="numero" class="form-control" value="<%=user.numero%>">
              </div>

              <div class="mb-3 form-check">
                <label class="form-check-label" name="admin" for="admin">Admin</label>
                <input name="admin" type="checkbox" class="form-check-input" value="<%=user.isAdmin%>">
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
              <a href="/adm" class="btn btn-primary">Voltar </a>
            </form>
          </div>
        </section>
      </main>
      <%- include('../../partials/footer.ejs') %>
  </body>

  </html>