<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

  <%- include('../../partials/header.ejs') %>

    <main class="">
      <section class="container">
        <h1>Lista de Produtos</h1>
        <div class="table-responsive">
          <table id="table-cart" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Nome</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Preco</th>
                <th scope="col">Estoque</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% for(let produto of produtos) {%>
                <tr>
                  <td>
                    <img src="/<%= produto.imagem%>" alt="Error" style="width:50px">
                  </td>
                  <td>
                    <%=produto.nome%>
                  </td>
                  <td>
                    <%=produto.tamanho%>
                  </td>
                  <td>
                    <%=produto.preco%>
                  </td>
                  <td>
                    <%=produto.estoque %>
                  </td>
                  <td>
                    <form action="/adm/produto/<%=produto.id%>?_method=DELETE" method="POST">
                      <a href="/adm/produto/<%=produto.id%>/editar" class="btn btn-secondary">Editar</a>
                      <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                  </td>
                </tr>
                <%}%>
            </tbody>
          </table>
        </div>
      </section>

    </main>

    <%- include('../../partials/footer') %>

</body>

</html>