<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  <title>HomePage</title>
</head>

<body>
  <%- include('../partials/header') %>

    <main>
      <!-- Carousel-->
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
            aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/carrossel1.jpg" class="d-block w-100 h-100" alt="...">
            <div class="container">
              <div class="carousel-caption text-start text-dark">
                <p><a class="btn btn-lg btn-primary" href="/feminino">Conferir Promoção</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/carrossel2.jpg" class="d-block w-100 h-100" alt="...">
            <div class="container">
              <div class="carousel-caption text-start text-dark">
                <p><a class="btn btn-lg btn-primary" href="/masculino">Conferir Estoque</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/carrossel3.jpg" class="d-block w-100 h-100" alt="...">
            <div class="container">
              <div class="carousel-caption text-start">
                <p><a class="btn btn-lg btn-primary" href="#">Ofertas de Natal</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for(const produto of produtos) {%>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="<%= produto.imagem %>" width="100%"
                    height="300"></img>
                  <div class="card-body">
                    <h3>
                      <%= produto.nome %>
                    </h3>
                    <h4 class="text-muted">R$ <%= produto.preco %>
                    </h4>
                    <h2>Descricao: <h5 class="text-muted">
                        <%= produto.descricao%>
                      </h5>
                    </h2>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/produtos/<%=produto.id%>">
                          <button type="button" class="btn btn-sm btn-primary">Confira</button>
                        </a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </div>
      </div>
    </main>
    <%- include('../partials/footer') %>

      <script>
        const myCarouselElement = document.querySelector('#myCarousel')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
          interval: 2000,
          wrap: true
        })
      </script>
</body>

</html>