<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="css/produtos.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Produtos Femininos</title>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for(const produto of produtos) {%>
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" src="<%= produto.imagem %>" width="100%"
                    height="225"></img>
                  <div class="card-body">
                    <h3>
                      <%= produto.nome %>
                    </h3>
                    <h4 class="text-muted">R$ <%= produto.preco %>
                    </h4>
                    <h2>Descricao: <h5 class="text-muted">
                        <%= produto.descricao%>
                      </h5>
                    </h2>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/produtos/<%=produto.id%>">
                          <button type="button" class="btn btn-sm btn-primary">Confira</button>
                        </a>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
        </div>
      </div>
      </div>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>